redirect 301 /amdocs http://qi.cogstonestl.com/custom_xls/amdocs.html

#SetEnvIF X-FORWARDED-FOR "172.16.254.0/24" AllowIP
#Order Deny,Allow
#Deny from all
#Allow from env=AllowIP
#Require valid-user
#Satisfy Any
#AuthUserFile /data/web/cgi-app/qi/htdocs/.htpasswd
#AuthName "QI Login"
#AuthType Basic

Options +Includes
IndexOptions +FancyIndexing +IgnoreCase NameWidth=* +SuppressHTMLPreamble +SuppressLastModified +SuppressSize +SuppressDescription
HeaderName /HEADER.shtml
IndexIgnore HEADER.* README .htaccess log*.* *~
